.document-container {
  overflow: hidden;
  /* width: min(70%, 90.5rem); */
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("Myriad Pro Regular.ttf");
}

@font-face {
  font-family: MyriadPro-Semibold;
  src: url("Myriad Pro Semibold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: MyriadPro-Regular;
}

/* img {
  display: block;
  min-width: 700px;
  max-width: 100%;
} */

/* Section 1 */

.section-1 {
  background-image: url("Aclaris-home-hero-desktop.jpg");
  padding-left: 377px;
  padding-right: 355.82px;
}

/* Header */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-start;
}

.dropdown,
.dropdown-btn {
  height: 100%;
}

.dropdown-btn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(114, 80, 135);
  width: 750px;
  height: 150px;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: orange;
}

.dropdown-btn:hover {
  background-color: rgb(114, 80, 135);
  color: orange;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
}

.logo {
  width: 164px;
  height: 60px;
}

.mobile-menu-icon {
  display: none;
}

.nav-container {
  width: calc(100% - 100px);
  height: 80px;
  padding-left: 100px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-list > li {
  font-size: 18px;
  color: #fff;
  list-style: none;
  cursor: pointer;
}

/* Hero */

.hero {
  display: flex;
}

.mobile-hand {
  display: none;
}

.hero-left {
  padding: 72px 0;
}

/* .hero-right {
  max-width: 100%;
} */

.title-first-row {
  font-family: MyriadPro-Semibold;
  font-size: larger;
  color: #fff;
}

.title-second-row {
  font-family: MyriadPro-Semibold;
  font-size: 72px;
  color: orange;
}

.title-third-row {
  font-family: MyriadPro-Semibold;
  font-size: 72px;
  color: #fff;
}

.hero-text {
  color: #fff;
}

.button-hero {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  font-family: MyriadPro-Semibold;
  font-size: 20px;
  background: transparent;
  color: #f27c1d;
  border: 1px solid #f27c1d;
  border-radius: 20px;
  cursor: pointer;
}

/* Section 2 */

.section-2 {
  background-image: url("home-testimonial-bg.jpg");
  padding-left: 377px;
  padding-right: 355.82px;
}

.testimonial-container {
  display: flex;
}

.mobile-portrait {
  display: none;
}

.mobile-quotes {
  display: none;
}

.desktop-quotes {
  width: 49px;
  height: 136px;
}

.testimonial-text {
  font-size: 20px;
  margin: 45px 0 0 15px;
  line-height: 30px;
}

.testimonial-signature {
  font-size: 12px;
}

.desktop-button-larger {
  width: 210px;
  height: 40px;
  margin-top: 20px;
  font-family: MyriadPro-Semibold;
  font-size: 20px;
  background: transparent;
  color: #f27c1d;
  border: 1px solid #f27c1d;
  border-radius: 20px;
  cursor: pointer;
}

.mobile-button-larger {
  display: none;
  width: 210px;
  height: 40px;
  margin: 30px auto 50px auto;
  font-family: MyriadPro-Semibold;
  font-size: 20px;
  background: transparent;
  color: #f27c1d;
  border: 1px solid #f27c1d;
  border-radius: 20px;
  cursor: pointer;
}

/* Section 3 */

.join-team-container {
  display: flex;
  align-items: center;
  background-color: #fffeed;
}

.mobile-join-team {
  display: none;
}

.join-team-left {
  padding-left: 377px;
  max-width: 500px;
}

.join-team-text h3 {
  font-family: MyriadPro-Semibold;
  font-size: 22px;
  color: gold;
}

.join-team-text p {
  font-size: 16px;
}

/* Footer */

footer {
  background: linear-gradient(
    180deg,
    rgba(255, 150, 0, 1) 0%,
    rgb(255, 190, 0, 1) 60%
  );
  padding-left: 377px;
  padding-right: 355.82px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  font-size: 14px;
  color: #fff;
  width: 350px;
}

.footer-notes {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer-notes > li {
  list-style: none;
  cursor: pointer;
}

.linkedin-logo {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

/* Modal */

.modal {
  position: relative;
  z-index: 1;
  top: 100px;
  left: 377px;
  right: 0;
  transform: translate(0, -220px);
  width: 930px;
  height: 300px;
  background-color: #fffeed;
  border-radius: 40px;
  box-shadow: 0px 10px 13px -7px #000000;
}

.grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  overflow: hidden;
}

.modal-left-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.modal-left-titles h3 {
  font-family: MyriadPro-Semibold;
  font-size: 22px;
  color: gold;
}

.modal-left-titles h4 {
  cursor: pointer;
}

.modal-left-text {
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
}

.modal-left-text p {
  margin-right: 30px;
  font-size: 16px;
}

.modal-right {
  background: linear-gradient(
    0deg,
    rgba(255, 120, 0, 1) 0%,
    rgba(240, 197, 50, 1) 100%
  );
}

.modal-right h3 {
  font-family: MyriadPro-Semibold;
  font-size: 22px;
  color: #fff;
  padding: 10px 30px;
}

.stock-numbers span:first-child {
  font-size: 65px;
  padding: 0 30px;
  color: #fff;
}

.stock-numbers span:last-child {
  font-size: 25px;
  color: #fff;
  margin: -25px;
}

.stock-text {
  padding: 10px 30px;
  color: #fff;
}

.stock-link {
  width: 120px;
  margin: 15px 30px;
  color: #fff;
  cursor: pointer;
}

/*---------- Mobile ---------- */

@media only screen and (max-width: 320px) {
  .document-container {
    display: flex;
    flex-direction: column;
  }

  /* Section 1 */

  .section-1 {
    background-image: url("Aclaris-home-hero-mobile_01.jpg");
    padding-left: 13px;
    padding-right: 0;
    padding-bottom: 55px;
  }

  /* Header */

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 13px;
  }

  .nav-container {
    display: none;
  }

  .logo {
    width: 110px;
    height: 40px;
  }

  .mobile-menu-icon {
    display: block;
    /* width: 45px; */
  }

  .mobile-menu-icon img {
    /* max-width: 100%;
    max-height: 100%; */
    width: 45px;
    height: 45px;
    filter: invert(67%) sepia(78%) saturate(4017%) hue-rotate(351deg)
      brightness(100%) contrast(91%);
  }

  /* Hero */

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-left {
    padding: 0;
    padding-right: 13px;
  }

  .hero-left h1 {
    margin-top: 0;
  }

  .desktop-hand {
    display: none;
  }

  .mobile-hand {
    display: block;
    max-width: 100%;
  }

  .title-first-row {
    font-size: 16px;
  }

  .title-second-row {
    font-size: 40px;
    line-height: 30px;
  }

  .title-third-row {
    font-size: 40px;
    line-height: 30px;
  }

  .hero-text {
    font-size: 15px;
  }

  /* Modal */

  .modal {
    position: static;
    z-index: 0;
    top: 0;
    left: 0;
    transform: none;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    box-shadow: 0 0 0 0 #000000;
  }

  .modal-left-titles {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 13px;
  }

  .modal-left-titles h3 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .modal-left-titles h4 {
    margin: 5px 0 10px 0;
  }

  .modal-left-text {
    padding: 0 13px;
    display: block;
  }

  .modal-right h3 {
    padding: 0 13px;
  }

  .stock-numbers span:first-child {
    padding: 0 13px;
  }

  .stock-numbers span:last-child {
    margin: 0;
  }

  .stock-text {
    padding: 0 13px;
    margin: 10px 0;
  }

  .stock-link {
    width: 120px;
    padding: 0 13px;
    margin: 40px 0 30px 0;
  }

  /* Section 2 */

  .section-2 {
    background-image: none;
    padding: 0;
  }

  .testimonial-container {
    flex-direction: column;
  }

  .desktop-portrait {
    display: none;
  }

  .mobile-portrait {
    display: block;
    max-width: 100%;
  }

  .testimonial-right {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 13px;
  }

  .desktop-quotes {
    display: none;
  }

  .mobile-quotes {
    display: block;
    width: 49px;
    height: 136px;
  }

  .desktop-button-larger {
    display: none;
  }

  .mobile-button-larger {
    display: block;
  }

  .testimonial-text {
    font-size: 18px;
    line-height: 20px;
  }

  .testimonial-signature {
    display: inline-block;
    font-size: 12px;
    padding-top: 20px;
  }

  /* Section 3 */

  .join-team-container {
    flex-direction: column-reverse;
  }

  .desktop-join-team {
    display: none;
  }

  .mobile-join-team {
    display: block;
    max-width: 100%;
  }

  .join-team-left {
    padding: 0 13px;
  }

  .join-team-text h3 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .join-team-text p {
    margin: 5px 0 0 0;
  }

  .button-join {
    margin: 30px 0 50px 0;
  }

  /* Footer */

  footer {
    padding: 0 13px;
    padding-top: 25px;
  }

  .footer-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .linkedin-logo {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }

  .footer-notes {
    flex-direction: column;
    gap: 15px;
  }

  .footer-left p {
    width: 200px;
    margin: 40px 0 30px 0;
  }
}
